:root {
    --font-main: Helvetica, Arial;
    --color-background: #FEFEFE;
    --color-background-selected: #F7F7F7;
    --color-highlight: #4BD2C2;
    --color-title: #3B4246;
    --color-label: #3C4347;
    --color-input-text: #101010;
    --color-input-border: #B7AFAF;
    --color-button: #CFD9E0;
    --color-divider: #DEDEDE;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-main);
    background-color: var(--color-background);
    width: 202px;
}

header {
    height: 15px;
    margin: 6px;
    padding-left: 5px;
    font-size: 13px;
    color: var(--color-title);
}

main {
    height: 207px;
    overflow-x: hidden;
    overflow-y: scroll;
}

main::-webkit-scrollbar{
    display: none;
}

footer {
    height: 32px;
    margin: 0 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid var(--color-title);
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul > li {
    display: flex;
    align-items: center;
    height: 60px;
    margin: 0 6px;
    border-bottom: 0.5px solid var(--color-divider);
}

input[type="checkbox"] {
    appearance: none;
    border: 1px solid var(--color-label);
    border-radius: 4px;
    width: 15px;
    height: 15px;
    margin: 4px;
}

svg {
    height: 50px;
    width: 50px;
    margin: 5px;
    background: repeating-conic-gradient(#E3E8EB 0deg  90deg,#FFFFFF 0 180deg) 0 0/20% 20%;
}

svg.dark-background {
    background: repeating-conic-gradient(#3D4348 0deg  90deg,#D1D9DF 0 180deg) 0 0/20% 20%;
}

.info-container {
    height: 50px;
    width: 54px;
    margin: 5px 3px;
}

.name-container {
    display: grid;
    height: 29px;
    width: 54px;
    margin-bottom: 2px;
}

.name-container > span {
    margin: 4px 0px 1px 0px;
    height: 9px;
    width: 54px;
    font-size: 8px;
}

.name-container > input {
    height: 11px;
    width: 48px;
    border: 0.5px solid var(--color-input-border);
    font-family: var(--font-main);
    font-size: 7px;
}

.dimensions-container {
    display: flex;
    height: 16px;
    width: 54px;
}

.dimensions-container > div {
    display: grid;
    margin-right: 8px;
}

.dimensions-container > div > span {
    height: 7px;
    width: 20px;
    font-size: 6px;
    margin-bottom: 1px; 
}

.dimensions-container > div > input {
    height: 6px;
    width: 15px;
    border: 0.5px solid var(--color-input-border);
    font-family: var(--font-main);
    font-size: 5px;
}

button {
    cursor: pointer;
    background: none;
    border: 0;
    padding: 0;
}

ul > li > button {
    width: 18px;
    height: 18px;
    border: 0;
    opacity: 1;
    margin: 5px 2px;
    background-color: var(--color-button);
    background-position: center;
    background-repeat: no-repeat;
    align-self: flex-end;
    transition: background-color .25s;
}

ul > li > button:hover {
    background-color: var(--color-highlight);
}

.download-button {
    background-image: url(images/icon-download.svg);
}

.copy-button {
    background-image: url(images/icon-copy.svg);
}

#selectAll {
    height: 12px;
    padding: 0 5px;
}

#selectAll > span {
    display: flex;
    justify-content: center;
    color: var(--color-highlight);
    font-size: 8px;
    font-weight: bold;
}

#downloadSelected {
    background-color: var(--color-highlight);
    width: 95px;
    height: 18px;
}

#downloadSelected > span {
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    height: 11px;
    line-height: 11px;
    font-size: 8px;
}

#downloadSelected span::before {
    display: inline-block;
    height: 11px;
    width: 11px;
    margin-right: 4px;
    background-image: url(images/icon-download.svg);
    background-repeat: no-repeat;
    content: "";
}

